//Places Page
#test1 {
	position: relative;
	margin: 2em 4em;
	height: 275px;
	width: 475px;
}
.madmap {
	margin: 1em 0 0;
	h3 {
		margin: 1em 0 0;
	}
	p {

	}
}
.places {

	p{
		font-family: 'Lato', sans-serif;
		font-size: 1.1em;
	}
}