//Tackle Page
.pfd {
	padding:2em;
	margin:0;
	li {
		display: inline-block;
		list-style-type: none;
		min-height: 200px;
	}
	img {
		max-height: 200px;
	}
	.title {
		margin-top: auto;
	}
	.bullet-item {
		margin: 0;
		padding: 0;
	}
	.price {
		h3 {
			position: relative;
			top: 0;
		}
	}
	.description p {
		font-size: 1.005em;
	}
	.cta-button {
		padding:0;
		margin:50px 0;
	}
}
[data-clearing] {
    @include clearfix;
    margin-bottom: 0;
    list-style: none;

    li {
      float: $default-float;
      margin-#{$opposite-direction}: 0;
    }
  }