<li class="large-4 small-12 columns">
	<div class="panel">
		<iframe width="208" height="156" frameBorder="0" scrolling="no" src="http://www.netmadeira.com/webcams/show/netmadeira/{{uri}}"></iframe>
		<h6 class="subheader">{{uri}}</h6>
	</div>
</li>