
		<!-- Footer -->
		<footer class="row">
		    <div class="large-12 columns">
		        <div class="row">
		            <div class="large-6 columns"><p>© Copyright no one at all. Go to town.</p></div>
		            <div class="large-6 columns">
		                <ul class="inline-list right">
		                    <li><a href="index.html">Home</a></li>
		                    <li><a href="places.html">The Places</a></li>
		                    <li><a href="fishes.html">The Fishes</a></li>
		                    <li><a href="lures.html">The Tackle</a></li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</footer>
		<!-- /Footer -->
