<!-- Footer -->
<footer class="footer">
  <div class="row full-width">
    <div class="small-12 medium-3 large-3 columns">
      <i class="fa fa-plane fa-fw"></i>

      <p>Madeira is served with flights from all continents.See your Local travel agent for details.</p>
      <i class="fa fa-car fa-fw"></i>
      <p>Car hire</p>
      <i class="fa fa-bicycle fa-fw"></i>
      <p>Bike hire, tours, trails</p>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <i class="fa fa-skyatlas fa-fw"></i>
      {{> weather}}
      <!-- <p>Madeira has just about the most perfect climate in the world. It is never too hot (although temperatures can get up to around 33 째C when the east wind coming from the Sahara desert blows for a few days every year) and the temperatures average at a maximum of 24 째C during the summer months (July through to October) and a minimum of 17 째C. During the winter, average temperatures drop by approximately 4 째C.</p> -->
    </div>
    <div class="small-12 medium-3 large-3 columns">
      <i class="fa fa-eye fa-fw"></i>
      <h4>See the:</h4>
      <ul class="footer-links">
        <li><a href="index.html"><i class="fa fa-neuter"></i>Home</a></li>
        <li><a href="places.html"><i class="fa fa-neuter"></i>Places</a></li>
        <li><a href="fishes.html"><i class="fa fa-neuter"></i>Fishes</a></li>
        <li><a href="tackle.html"><i class="fa fa-neuter"></i>Tackle</a></li>
        <li><a href="charters.html"><i class="fa fa-neuter"></i>Charters</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>
    </div>
  </div>
</footer>
