
		<!-- Header -->
		        <nav class="top-bar" data-topbar>
		            <ul class="title-area">
		                <li class="name"><h1><a href="#">{{title}}</a></h1></li>
		                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
		            </ul>
		            <section class="top-bar-section">
		                <ul class="left">
		                    <li><a href="index.html">Home</a></li>
		                    <li><a href="places.html">The Places</a></li>
		                    <li><a href="fishes.html">The Fishes</a></li>
		                    <li><a href="tackle.html">The Tackle</a></li>
		                    <li><a href="tacklemaking.html">Tackle Making</a></li>
		                </ul>
		                <ul class="right">
		                    <li class="search"><form><input type="search"></form></li>
		                    <li class="has-button"><a class="small button" href="#">Search</a></li>
		                </ul>
		            </section>
		        </nav>

		<!-- /Header -->
