---
title: Madeira Pescaria
pageheader: Blog
layout: app/html/layouts/default.hbs
author: Mr. M
---
<div class="row">
  <div class="large-12 columns">
    <h1>Travel Blog<small>mindfluff transformed</small></h1>
    <hr/>
  </div>
</div>
<div class="row">
  <div class="large-9 columns" role="content">
    <article>
      <h3><a href="#">Jan Sails</a></h3>
      <h6>Written by <a href="#">Mr M</a> on Jan 09, 2015.</h6>
      <div class="row">
        <div class="large-6 columns">
        </div>
        <div class="large-6 columns">
          <img src="http://placehold.it/400x240&text=[img]"/>
        </div>
      </div>
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
    </article>
    <hr/>
    <article>
      <h3><a href="#">Lure Rod - P.O.B</a></h3>
      <h6>Written by <a href="#">{{author}}</a> on Jan 12, 2015.</h6>
      <div class="row">
        <div class="large-6 columns">
          <p>Currently i'm trialling an Okuma Lure Xtreme (9'3), 12-42g, which should double up nicely if i fancy a lazy day throwing bread to the ducks, i mean mullet.A 4 piece, hopefully it should also stow away nicely in the luggage.Weight and tip action to be confirmed or denied or at best refuted.But just to be completist i shall list the other travel rod contenders, with an eye to adding more to the spectrum later on.</p>
        </div>
        <div class="large-6 columns">
          <img src="http://www.fishingmegastore.com/hires/okuma/lure-xtreme-spin-rods.jpg">
        </div>
        <div class="large-12 columns"><p>Ok so it's 81cm long (just under 32" in old money) in its case.too long for the luggage, starting to think its a airflo ballistic travel hardcase and just buy normal rods.Excess on the airline? probably.</p></div>
      </div>
    </article>
    <hr/>
    <article>
      <h3><a href="#">Reelin'</a></h3>
      <h6>Written by <a href="#">{{author}}</a> on Jan 12, 2015.</h6>
      <div class="row">
        <div class="large-6 columns">
          <p>Hmmm decisions, decisions.Not with the brands per se, as there are only two i would part any cash for.No, the decision is fixed spool or baitcaster. It would be usual for me to favour the fixed spool,from my coarse fishing days, but the idea that jigging from the rocks might be involved would favour the quicker release freespooling from a baitcaster.But that Aernos is nice and could be at the right price, time will tell.</p>
        </div>
        <div class="large-6 columns">
          <img src="/img/asset/caenan101.jpg">
        </div>
        <div class="large-12 columns">  <p>The decision has been made to get a baitcaster.From what i can understand from a distance, a lot of the shore fishing might be deep water jigging, from micro jigs to some mid-range ones (45-60g).Baitcaster reel orientation allows an much easier drop of the lure than casting line off a fixed spool, so i've opted for a Shimano Caenan 101.</p><p>The Caenan 101 is the left handed model of this baitcaster reel, and promises much smoothness for such a budget entry shimano reel, plus salt approved (whatever that proves to be).Only concern is the relative low amounts of drag.</p>
        <p>For now i've got a cheap practise baitcaster i can trial/abuse at my local shore/pike venue before the final assault in May.</p></div>
      </div>
    </article>
    <hr/>
    <article>
      <h3><a href="#">Hi-Viz</a></h3>
      <h6>Written by <a href="#">{{author}}</a> on Jan 12, 2015.</h6>
      <div class="row">
        <div class="large-6 columns">
          <p>The first line up for trial is some Berkeley Whiplash in a daring hi-viz orange. Usually im all about stealth and prefer the clear lines wherever possible, this time i can see the need to see the line as the fish dart in and out of the rocky outcrops.I'll still be using fluorocarbon for the leader to retain presentation of the lure.</p>
        </div>
        <div class="large-6 columns">
          <img src="/img/asset/whiplash.jpg">
        </div>
         <div class="large-12 columns">
          <p>First impressions of the Whiplash line aren't all that favourable if finesse or supple was on the shopping list of requirements.Coarse texture and a very bumpy uneven feel as you rub your thumb/finger down the line.How this translates into actual use in the field is yet to be seen.Eh, let's not knock it down until its a tombola :)</p>
         </div>
      </div>
    </article>
    <hr/>
    <article>
      <h3><a href="#">Reelin' Again</a></h3>
      <h6>Written by <a href="#">{{author}}</a> on Feb 12, 2015.</h6>
      <div class="row">
        <div class="large-6 columns">
          <p>It's cheap, it's fairly well known small reel and now i've got something to hang off the [h]Ugly Stik.It's the Shimano Sahara 4000-ooh hang on is it a 3000, errr[*]I'm reliably informed this reel can handle freshwater pike lures more than comfortably, so i'm more than happy to pop this in the luggage.First off let's lose the paddle for a single arm.Check.Two spools, so one with some leftover Whiplash(20lb)-can easily switch this over to the Okuma - and i'm on the hunt for something silky and tiny for Goby assaults(checks fishes page for madeiran equivalent).</p>
        </div>
        <div class="large-6 columns">
          <img src="/img/asset/shim_sahara.jpg">
        </div>
        <div class="large-12 columns">
        <p>Something around 8-12lb i would imagine, don't want to get caught out by a sneak bluefish/cuda last min take.Oh yeah it's been known to happen.</p></div>
      </div>
    </article>
  </div>
  <aside class="large-3 columns">

    <div class="panel">
      <h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="#">News</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Fun</a></li>
        <li><a href="#">Weasels</a></li>
      </ul>
    </div>
  </aside>
</div>