---
title: Madeira Pescaria
pageheader: Game Charters - Madeira
layout: app/html/layouts/default.hbs
---
<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<div class="row">
					<div class="large-12 hide-for-small">
						<div id="featured" data-orbit>
						    <img src="/img/asset/trolling.jpg" alt="slide image">
						    <img src="/img/asset/fish13-redpalm.jpg" alt="slide image">
						    <img src="/img/asset/Port-Stephens-283.jpg" alt="slide image">
						</div>
					</div>
				</div>
		    	<div class="row">
					<div class="large-12 columns show-for-small">
						<img src="/img/asset/trolling.jpg">
					</div>
		    	</div>
		    	<div class="panel">
					<h2>Charter Fishing</h2>
					<p>The big game fishing is carried out in 30–40ft fast boats, fitted with fighting chairs and a flying bridge. Large reels and strong rods attached to lures are trolled at 5–17 knots, 400lb leaders are common place. May to October produces fish averaging 700lbs. All big game fishing works on a tag and release basis.The 4th July sees the Blue Marlin world cup, come to the island. Teams from around the world gather to out fish each other, with a winner takes all prize.Wahoo fishing is best from Sept – Dec.</p>
				</div></div>

    	<div class="biggame row">
      		<div class="large-12 columns">
        		<div class="row" data-equalizer>
        			{{#each charters.list}}{{> charterui}}{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>