---
title: Madeira Pescaria
pageheader: Fishes of Madeira
layout: app/html/layouts/iso.hbs
---
<div class="button-group" id="filters">
  <h5>Sort:</h5>
  <button class="button is-checked" data-filter="*">All</button>
  <button class="button" data-filter=".game">Game</button>
  <button class="button" data-filter=".shore">Shore</button>
  <button class="button" data-filter=".lrf">LRF</button>
</div>
<h2>Fish Of Madeira</h2>
<h5 class="subheader">Locals &amp; Visitors</h5>
<div class="species">
	{{#each fishes.list}}{{> fishpod}}{{/each}}
</div>
