---
title: Madeira Pescaria
pageheader: Fly Fish Madeira
layout: app/html/layouts/front.hbs
---
{{> header}}
<div class="lxholder">
  <div class="plx-background flyhero">
    <div class="intro-text">
      Madeira Truta
      <p><i class="fa fa-angle-down"></i></p>
    </div>
  </div>
  <div class="plx-content">
    <div class="row">
      <div class="large-12 columns">
        <div class="row">
            <p>Trout fishing on Madeira seems to still be in its infancy, but this could be a good thing.One look at the rivers and scenery of madeira should be reassuringly unspoilt.</p><p>Ribeiro Frio (Cold River) a natural park located in the North Country side in a steep valley surrounded by mountains. It is a popular stop for locals and tourists known for its trout farm pools and fascinating nature paths, ideal for anyone who enjoys a relaxed walk.</p><p>The trout on Madeira was originally introduced during the fifties. The population of rainbow trout is self-sustaining, and there are still some brown trout about, but they are being edged out by the rainbows.</p>
        </div>

        <br>
        <div class="row">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-4 small-6 columns">
                <img src="/img/asset/ribeirofrio6s.jpg">
              </div>
              <div class="large-4 small-6 columns">
                <img src="/img/asset/ribeirofrio12s.jpg">
              </div>
              <div class="large-4 small-6 columns">
                <img src="/img/asset/madeira-trout.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
