---
title: Madeira Pescaria
pageheader: Fishing On Madeira
layout: app/html/layouts/front.hbs
---
<!-- <nav class="menu">
  <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
  <label class="menu-open-button" for="menu-open">
    <span class="hamburger hamburger-1"></span>
    <span class="hamburger hamburger-2"></span>
    <span class="hamburger hamburger-3"></span>
  </label>

  <a href="#" class="menu-item"> <i class="fa fa-bar-chart"></i> </a>
  <a href="#" class="menu-item"> <i class="fa fa-plus"></i> </a>
  <a href="#" class="menu-item"> <i class="fa fa-heart"></i> </a>
  <a href="#" class="menu-item"> <i class="fa fa-envelope"></i> </a>
  <a href="#" class="menu-item"> <i class="fa fa-cog"></i> </a>
  <a href="#" class="menu-item"> <i class="fa fa-ellipsis-h"></i> </a>

</nav> -->
<!-- filters -->
<!-- {{> navsvg}} -->
{{> header}}
<div class="main row collapse">
	<div class="large-6 columns">
		<figure class="effect-sarah ocean">
			<img alt="game" src="/img/asset/torneo11.jpg">
			<figcaption>
				<h2 class="left">Game</h2>
				<p>World Class game fishing.You might be the next Record holder</p>
				<a href="#"></a>
			</figcaption>
		</figure>
	</div>
	<div class="large-6 columns">
		<figure class="effect-sarah fly">
			<img alt="fly" src="/img/asset/flytile.jpg">
			<figcaption>
				<h2 class="right">Fly</h2>
				<p>Pristine trout brooks in idyllic scenery</p>
				<a href="#"></a>
			</figcaption>
		</figure>
	</div>
	<div class="large-6 columns">
		<figure class="effect-sarah shoreline">
			<img alt="shore" src="/img/asset/fisher.jpg">
			<figcaption>
				<h2 class="left">Shore</h2>
				<p>Deep Atlantic waters within easy casting distance.</p>
				<a href="#"></a>
			</figcaption>
		</figure>
	</div>
	<div class="large-6 columns left">
		<figure class="effect-sarah rock">
			<img alt="lrf" src="/img/asset/lrftile.jpg">
			<figcaption>
				<h2 class="right">LRF</h2>
				<p>So many species, so little time..</p>
				<a href="#"></a>
			</figcaption>
		</figure>
	</div>
</div>