---
title: Madeira Pescaria
pageheader: LRF Madeira
layout: app/html/layouts/front.hbs
---
{{> header}}
<div class="lxholder">
	<div class="plx-background lrfhero">
		<div class="intro-text">
		  LRF SAFARI!
		  <p><i class="fa fa-angle-down"></i></p>
		</div>
	</div>
  	<div class="plx-content">
	    <p>This Volcanic island is located South of Portugal and has a sub-tropical climate, meaning you can fish in comfort! The sea in places is over 1000 meters in depth, because of this and its geographical location the island is home to an abundance of fish.</p>
	    <p>Be aware access to the coast in Madeira is difficult and often dangerous.</p>