---
title: Madeira Pesca
pageheader: Fishing On Madeira
layout: app/html/layouts/default.hbs
---

<!-- Content -->
	<div class="small-1 small-centered columns">
	</div>
	<div class="small-10 small-centered columns">
		<div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <h1 class="main-title">{{pageheader}} 2015</span></h1>
        </div>
	</div>
	<div class="small-1 small-centered columns">
	</div>
	<div class="large-8 columns">
		<div class="row">
			<div class="large-12 columns">
				<div class="panel">
					<p>A running record of the preparation steps for fishing from the shore on Madeira.</p><p>It's quite usual to find information on the internet about the World Class game fishing on the waters surrounding Madeira and the the other Canary Islands, but less is writted about the more casual but no less enthusiastic sport fisherman, who can fish from the shore for a mind blowing variety of fishes, covering some of the open water game fish to the really exotic LRF species, all within reach of the shore(in certain places).</p>
					<ul class="small-block-grid-3">
			            <li><a href="tacklemaking.html"><img src="../img/th/assists_th.jpg"/></a></li>
			            <li><a href="fishes.html"><img src="../img/th/fang_th.jpg"/></a></li>
			            <li><a href="tackle.html"><img src="../img/th/psyspr_th.jpg"/></a></li>
			            <li><a href="places.html"><img src="../img/th/seix_th.jpg"/></a></li>
			            <li><a href="tackle.html"><img src="../img/th/xtrem_th.jpg"/></a></li>
			            <li><a href="places.html"><img src="../img/th/trutta_th.jpg"/></a></li>
			        </ul>
				</div>
			</div>
		</div>
		<div class="row">

		</div>
	</div>
	<div class="large-4 columns">

		<h4>Getting Started</h4>
		<p>We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>

		{{>widget}}
	</div>
<!-- Content -->