---
title: Madeira Pescaria
pageheader: Shore - Madeira
layout: app/html/layouts/default.hbs
---

    <div class="row">
        <div class="large-9 push-3 columns">
          <div class="places panel">
            <p><i class="fa fa-quote-left"></i> Im very lucky in that my grandparents live in Funchal, I&#8217;ve fished off the shore there a little. There is a small stream on the right hand side of the little harbour where the Charters moor. You cant fish into the harbour, but fished on the rocks outside the inner harbour into the mouth of that stream and caught plenty of small snapper, mullet and parrot fish, all to prawn.<br>Also fished further to the left ( following the path from the small harbour, past the beach ) on some rock structures. Much the same, with a few bream type species thrown in too. Found little balls of bread crumb got the mullet and bream really competing, spent hours down there watching the fish swim around in the clear water.<br>Fished the long outer pier, both on the outer and inner sides; on the outer side, again mullet, parrot fish, bream type fish and some more wrasse like fish. On the inside there are some cracking fish around the big buoy&#8217;s used by the ferries, some really nice triggers that don&#8217;t half go on course gear. They took a little coxing out, with steady streams of little bits of bread and prawn but were well worth the wait. There were hordes of little mullet, so well worth taking light gear with you.</p>
            <p>One day, fishing off the very end of the pier, around 150yards out were what I assume were a school of tuna, they were boiling and breaching for about 25 &#8211; 30mins, no matter hard I tried, I couldn&#8217;t get my Rapala Tail Dancer anywhere near them...<br>Saw plenty of Scad and Barracuda in the Harbour ( amongst the boats ) so there&#8217;s no reason not to try some lures towards dusk, but all I caught on lures were small Snapper.<br>Tackle wise, I&#8217;d take, A light freshwater float rod or spinning rod, 4500 fixed spool loaded with as much 10lb braid as you can get on there... just incase ;) a spool of 10lb fluorocarbon , 50lb fluorocarbon and a few pike traces (ones designed for lures)<br>Carp (i'd suggest Kamasan B980 or B981) size 16 & 08, some 4/0 & 6/0 circles, 2 clear bubble floats or carp controllers, half a dozen wagglers, a selection of shots. And a few plugs if you wanna try your luck with some of the barracuda. <i class="fa fa-quote-right"></i></p>
          </div>
          <div class="places panel">
            <p><i class="fa fa-quote-left"></i>We stayed in a small village called Seixal on the north coast of the island and fished on various piers around the island, but not In Funchal. We were fishing for barracuda, guelly jack and bonito, but didn´t catch any. Instead we caught 32 other species of fish including eagle ray, sting ray, conger and three different species of moray eel.<p>We both did some float fishing and some bottom fishing and used shrimp, sardines, mackerel and other fish for bait. Bait can be bought in the supermarkets or on the fish market in Funchal.</p><p>I used three rods on the trip:
              <ul>
                <li>13ft Shimano Beastmaster surf rod 2-8 oz</li>
                <li>12ft 2,75lbs Shimano Exage carp rod</li>
                <li>9ft Kunnan spinning rod 10-40g</li>
              </ul>My reels were filled with 10 - 40 lbs. braid.
            </p>
      <p>If you want to do some bottom fishing, I suggest you bring some 4/0 - 5/0 hooks and some 60 lbs. wire for leader, - some of those bottom dwellers have rather sharp teeth. And bring some 0,90- 1,00 mm mono for leader, because there is volcanic rocks all over the place ready to tear up a thin fishing line.</p>
      <p>Don´t bring a lot of lead sinkers to make your luggage overweight.</p>
      <p>Lead sinkers can be bought cheap on the island, or you can use rocks tied to a swivel with some wire. Most other necessities including bait elastic can be bought on the island too.<i class="fa fa-quote-right"></i></p>
          </div>
        </div>
        <div class="large-3 pull-9 columns">
          <ul class="side-nav">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
          <p><img src="..../img/locale/coastline.jpg"/></p>
        </div>
      </div>