---
title: Tackle Making
pageheader: Tackle for Madeira
layout: app/html/layouts/default.hbs
---
<div class="row">
    <div class="large-12 columns">
        <div class="rack row">
            <h3>Traditional Hard Lures</h3>
            <div class="large-4 small-6 columns">
                <video width="303" height="250" preload="none" poster="/mp4/prey/prey-poster.jpg" controls>
                    <source src="/mp4/prey/prey.mp4" type="video/mp4"/>
                    <source src="/mp4/prey/prey.webm" type="video/webm"/>
                    <source src="/mp4/prey/prey.ogv" type="video/ogg"/>
                    <img src="/mp4/prey/prey-poster.jpg" height="250" alt="Title of Video" title="Your browser does not support video"/>
                </video>
                <h6 class="panel center">Prey34/40</h6>
            </div>
            <div class="large-4 small-6 columns">
                <video width="303" height="250" preload="none" poster="/mp4/psysprat/psysprat-poster.jpg" controls>
                    <source src="/mp4/psysprat/psysprat.m4v" type="video/mp4"/>
                    <source src="/mp4/psysprat/psysprat.webm" type="video/webm"/>
                    <source src="/mp4/psysprat/psysprat.ogv" type="video/ogg"/>
                    <img src="/mp4/psysprat/psysprat-poster.jpg" height="250" alt="Title of Video" title="Your browser does not support video"/>
                </video>
                <h6 class="panel">Psycho Sprat</h6>
            </div>
            <div class="large-4 small-6 columns">
                <video width="303" height="250" preload="none" poster="/mp4/salt tuned/salt tuned-poster.jpg" controls>
                    <source src="/mp4/salt tuned/salt tuned.m4v" type="video/mp4"/>
                    <source src="/mp4/salt tuned/salt tuned.webm" type="video/webm"/>
                    <source src="/mp4/salt tuned/salt tuned.ogv" type="video/ogg"/>
                    <img src="/mp4/salt tuned/salt tuned-poster.jpg" height="250" alt="Title of Video" title="Your browser does not support video"/>
                </video>
                <h6 class="panel">Saltwater Tuned Prey</h6>
            </div>
        </div>
        <div class="row">
            <h3>Soft Lures</h3>
            <div class="large-4 small-6 columns">
                <video width="303" height="250" preload="none" poster="/mp4/sandeel/sandeel-poster.jpg" controls>
                    <source src="/mp4/sandeel/sandeel.m4v" type="video/mp4"/>
                    <source src="/mp4/sandeel/sandeel.webm" type="video/webm"/>
                    <source src="/mp4/sandeel/sandeel.ogv" type="video/ogg"/>
                    <img src="/mp4/sandeel/sandeel-poster.jpg" height="250" alt="Title of Video" title="Your browser does not support video"/>
                </video>
                <h6 class="panel">Sandeel</h6>
            </div>
            <div class="large-4 small-6 columns">
                <video width="303" height="250" preload="none" poster="/mp4/shad/shad-poster.jpg" controls>
                    <source src="/mp4/shad/shad.m4v" type="video/mp4"/>
                    <source src="/mp4/shad/shad.webm" type="video/webm"/>
                    <source src="/mp4/shad/shad.ogv" type="video/ogg"/>
                    <img src="/mp4/shad/shad-poster.jpg" height="250" alt="Title of Video" title="Your browser does not support video"/>
                </video>
                <h6 class="panel">Cannibal Shad</h6>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="227" src="//www.youtube.com/embed/AI--SCbgiPw?rel=0" frameborder="0" allowfullscreen></iframe>
                <h6 class="panel">Saltwater Sandeel</h6>
            </div>
        </div>
        <div class="row">
            <h3>Lure Construction</h3>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/_z7i5AZ35Ko?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/xJ8ddxijGsw?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/YCjS7P3Ee48?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/A-hgswBglCs?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/CQEQclfSiaQ?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/VG-B3u17zRs?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/FArCaTyfwbo?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/pWXPg46lzBA?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/MKhBuTeSJ6I?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/kAYyx52CC2I?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/whcogSP7oE0?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/fObj9sILFf4?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/p9z4W7vnjEU?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/9UWdXPhZbh8?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="large-4 small-6 columns">
                <iframe width="303" height="170" src="//www.youtube.com/embed/wsPjEqTEK1w?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>