---
title: Madeira Pescaria
pageheader: Tackle for Madeira
layout: app/html/layouts/default.hbs
---
<div class="row">
    <div class="large-12 columns">
        <h3>Rods</h3>
        <p>Currently i'm trialling an Okuma Lure Xtreme (9'3), 12-42g <img class="large-6 columns" src="http://www.fishingmegastore.com/hires/okuma/lure-xtreme-spin-rods.jpg"> which should double up nicely if i fancy a lazy day throwing bread to the ducks, i mean mullet.A 4 piece, hopefully it should also stow away nicely in the luggage.Weight and tip action to be confirmed or denied or at best refuted.But just to be completist i shall list the other travel rod contenders, with an eye to adding more to the spectrum later on.</p>
        <p>Ok so it's 81cm long in its case.too long for the luggage, starting to think its a airflo ballistic travel hardcase and just buy normal rods.Excess on the airline? probably.</p>
        <ul class="small-block-grid-3">
            <li><h4>Majorcraft Crostage Mobile Seabass</h4><img src="http://www.plat.co.jp/shop/catalog/images/CROSTAGE-MOBILE-K.jpg"></li>
            <li><h4>Bushwacker travel XLNT</h4><img src="http://www.hengelsportknaller.nl/6024-17866-thickbox/savagear-roadrunner-xlnt-travel-rod-243-cm-20-80-gr.jpg"></li>
            <li><h4>Shimano Beastmaster Twin Tip</h4><img src="http://www.billyclarke.co.uk/4540-thickbox_default/shimano-beastmaster-stc-twin-tip-ml-mh-6-6-8ft-spin.jpg"></li>
            <li><h4>Shakespeare Agility Travel Boat</h4><img src="http://www.tacklebargains.co.uk/acatalog/shakespeare_1270441_more.jpg"></li>
        </ul>
    </div>
    <div class="large-12 columns">
        <h3>Reels</h3>
        <p>Hmmm decisions, decisions.Not with the brands per se, as there are only two i would part any cash for.No, the decision is fixed spool or baitcaster. It would be usual for me to favour the fixed spool,from my coarse fishing days, but the idea that jigging from the rocks might be involved would favour the quicker release freespooling from a baitcaster.But that Aernos is nice and could be aat the right price, time will tell.</p>
    </div>
    <div class="large-12 columns">
        <h3>Lines</h3>
        <p>Braid is nearly always the way to go with any form of contact fishing, and it's lack of stretch gives immediate response from any biting fish.Madeira is largely made up of volcanic rock which will happily slice through your line, so strong mono or fluorocarbon leaders are essential, as much as to aid abrasion resistance as to the myriad of fighting fish that could be caught.</p>
    </div>
    <div class="large-12 columns">
        <h3>Accessories</h3>
        <hr>
        <h4>PFD(Personal Flotation Device)</h4>
        <p>Not usually the consideration of the shore roving angler, safety should always be considered in extreme location, such as hanging off of volcanic rocks with precipitous depth a few metres in front of you, oh and the strong riptides across bays and upwelling.....ok you get the picture.To date here are some of the items i've found that might be suitable.</p>
        <ul class="pfd">
            {{#each jackets.list}}{{> jacketui}}{{/each}}
        </ul>
    </div>
</div>