---
title: Madeira Pescaria
pageheader: Tackle for Madeira
layout: app/html/layouts/default.hbs
---
<div class="row">
    <div class="large-12 columns">
        <h3>Travel Rods &amp; Specials</h3>
        <div class="row">
            <div class="large-10 large-centered columns">
                <ul class="small-block-grid-3">
                    <li><h4>Okuma Lure Xtreme 903 (12-42g)</h4><img src="http://www.fishingmegastore.com/hires/okuma/lure-xtreme-spin-rods.jpg"></li>
                    <li><h4>Sakura Sportism Neo 702 (10-40g)</h4><img src="/img/asset/sportism702h.jpg"></li>
                    <li><h4>Shakespeare Agility Travel Boat</h4><img src="http://www.tacklebargains.co.uk/acatalog/shakespeare_1270441_more.jpg"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3>Reels</h3>
        <p></p>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3>Lines</h3>
        <p>Braid is nearly always the way to go with any form of contact fishing, and it's lack of stretch gives immediate response from any biting fish.Madeira is largely made up of volcanic rock which will happily slice through your line, so strong mono or fluorocarbon leaders are essential, as much as to aid abrasion resistance as to the myriad of fighting fish that could be caught.</p>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3>Accessories</h3>
        <hr>
        <h4>PFD(Personal Flotation Device)</h4>
        <p>Not usually the consideration of the shore roving angler, safety should always be considered in extreme location, such as hanging off of volcanic rocks with precipitous depth a few metres in front of you, oh and the strong riptides across bays and upwelling.....ok you get the picture.To date here are some of the items i've found that might be suitable.</p>
        <ul class="pfd panel">
            {{#each jackets.list}}{{> jacketui}}{{/each}}
        </ul>
    </div>
</div>