<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{title}}</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,900italic,300,700' rel='stylesheet' type='text/css'>
		<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
	{{#production}}
			<link rel="stylesheet" href="../css/main.min.css" />
			<script src="../js/vendor/modernizr.min.js"></script>
	{{else}}
			<link rel="stylesheet" href="../css/main.css" />
			<script src="../js/vendor/modernizr.js"></script>
	{{/production}}
	</head>
	<body>
		{{>header}}
		<div class="row">{{>body}}</div>
		{{>footer}}
	{{#production}}
			<script src="../js/vendor/jquery.min.js"></script>
			 <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
			 <script src="../js/vendor/openWeather.min.js"></script>
			 <script src="../js/vendor/tipuedrop_content.js"></script>
		 	<script src="../js/vendor/tipuedrop.js"></script>
			<script src="../js/frontend.min.js"></script>
	{{else}}
			<script src="../js/vendor/jquery.js"></script>
			 <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
			 <script src="../js/vendor/openWeather.min.js"></script>
			 <script src="../js/vendor/tipuedrop_content.js"></script>
		 	<script src="../js/vendor/tipuedrop.js"></script>
			<script src="../js/frontend.js"></script>
	{{/production}}
		<script>$(document).foundation();</script>
        </script>
		<script>$(document).ready(function() {
			$(".gmap3").gmap3({
		      map:{
		        options:{
		            center:[32.74279460930797,-16.997224306639716],
		            zoom:10,
		            mapTypeId: google.maps.MapTypeId.MAP,
		            mapTypeControl: true,
		            mapTypeControlOptions: {
		                style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
		            },
		            navigationControl: true,
		            scrollwheel: true,
		            streetViewControl: true
		        }
		      }
		  	});
		  	$("#test1").gmap3({
		    	marker:{
		      values:[
		         {address:"32.72103484488442, -17.17852017837603", data:"Calheta", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"32.652323655425, -16.988834356841394", data:"Camara de Lobos", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"Caminho da Serra de Água, 9270", data:"Clube Naval do Seixal", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"Promenade do Lido, 9000", data:"Funchal Lido", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"Praceta 25 de Abril 34,9200-084 Machico ", data:"Machico", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"9370-545", data:"Paul do Mar", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"Ponta Delgada, 9240", data:"Ponta Delgada", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"Caminho do Passo 6, 9360-529", data:"Ponta do Sol", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"32.79234568197307, -16.850110506592856", data:"Praia do Faial", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"Restaurante Praia do Vigario, 9300", data:"Praia do Vigario", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"32.669575500226856,-17.065309500274225", data:"Ribeira Brava", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"Pontão da Praia da Palmeira,9100-151", data:"Santa Cruz", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"32.74707342993853, -16.825959896622255", data:"Portela-Porto da Cruz", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"32.86750593205949, -17.165929889260372", data:"Porto Moniz", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		         {address:"Marina do Funchal", data:"Funchal Port", options: {icon: new google.maps.MarkerImage("/img/pin.png",
		              new google.maps.Size(32, 37, "px", "px"))}},
		      ],
		      options: {
		          // icon: new google.maps.MarkerImage("http://gmap3.net/skin/gmap/magicshow.png",new google.maps.Size(32, 37, "px", "px"))
		      },
		      events: {
		      	mouseover: function(marker, event, context){
		      		var map = $(this).gmap3("get"),
		      			infowindow = $(this).gmap3({get:{name:"infowindow"}});
			        if (infowindow){
			          infowindow.open(map, marker);
			          infowindow.setContent(context.data);
			        } else {
			        	$(this).gmap3({
			        		infowindow:{
				              anchor:marker,
				              options:{content: context.data}
				            }
			          	});
			        }
		      	},click: function(){
			        alert("Here is the default click event");
			      }
		      	// mouseout: function(){
		      	// 	var infowindow = $(this).gmap3({get:{name:"infowindow"}});
			      //   if (infowindow){
			      //     infowindow.close();
			      //   }
		      	// }
		      }
		    	}
		  	});
			$('.weather-temperature').openWeather({
				city: 'Funchal, Madeira',
				descriptionTarget: '.weather-description',
				windSpeedTarget: '.weather-wind-speed',
				minTemperatureTarget: '.weather-min-temperature',
				maxTemperatureTarget: '.weather-max-temperature',
				humidityTarget: '.weather-humidity',
				sunriseTarget: '.weather-sunrise',
				sunsetTarget: '.weather-sunset',
				placeTarget: '.weather-place',
				iconTarget: '.weather-icon',
				customIcons: '/img/weather/',
				success: function() {
					//show weather
					$('.weather-wrapper').show();
				},
				error: function(message) {
					console.log(message);
				}
			});
		});
		</script>
		<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble.js"></script>
	</body>
</html>